<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Formulario de Vendedores</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid mt-3">
        <div class="card">
            <div class="card-body">
            <h4 th:text="${vendedor.id==null?'Nuevo Vendedor':'Editar Vendedor'}"></h4>
                <hr />
                <div th:replace="mensajes :: msg"></div>
                <form th:action="@{/vendedores/guardar}" th:objects="${vendedor}" method="post">
                    <div class="mb-3">
                        <label>Nombre:</label>
                        <input th:field="${nombre}" type="text" maxlength="60" required="required" class="form-control" >
                    </div>
                    <div class="mb-3">
                        <label>Apellido:</label>
                        <input th:field="${apellido}" type="text" maxlength="60" required="required" class="form-control" >
            
                    </div>
                    <div class="mb-3">
                        <input th:field="*{id}" type="hidden">
                        <button class="btn btn-primary btn-sm">
                            Guardar
                        </button>
                        <a href="/vendedores" class="btn btn-dark btn-sm">Cancelar
                            Volver atras
                        </a>        
                    </div>
                </from>        
        </div>
    </div>
</body>
</html>